 body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f0f0f0
}
#errorBar {
	position: absolute;
	bottom: 25px;
	left: 10px
}
#exportPopup {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	border: 10px solid black;
	background-color: #ffffff
}
#leftPanel, #rightPanel, #infoPanel {
	position:absolute;
	top: 140px;
	min-height: 50%;
	border: 1px solid black;
	padding: 5px;
	background-color: #ececec;
	width: 15%
}
#rightPanel {
	right: 0px;
	bottom: 0px;
	border-right: none;
	border-bottom-left-radius: 10px
}
#leftPanel {
	position: absolute;
	left: 0px;
	border-left: none;
	border-bottom-right-radius: 10px;
	min-height: 0%
}
 #infoPanel {
	right: 0px;
	top: 0px;
	width: 25%
 
 }
#port {
	position:relative;
	left: 5px;
	width: 95%;
	height: 80%;
	resize: none;
	
}
#topMenu {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #ececec;
	height: 140px;
	border-bottom: 1px solid black
}
.buttonMenu {
	position: absolute;
	left: 0px;
	right: 0px;
	padding-left:5px;
	padding-top: 5px;
	height: 45px
}
.rHeader {
	text-align: center;
	border-bottom: 1px darkgrey solid
}
#startButtons {
	top: 0px
}
#compoundButtons, #compoundFaceButtons {
	top: 45px
}
#submenuButtons {
	top: 90px
}
.buttonMenu > input, #leftPanel > div > input  {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff
}
.buttonMenu > input:hover, #leftPanel  > div > input:hover  {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9
}
.buttonMenu > input:active, #leftPanel  > div > input:active  {
	position:relative;
	top:1px
}
.collapsible {
	background-color: #aaa;
	color: white;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin-top: 3px
}
.active, .collapsible:hover {
	background-color: #888
}
.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px
}
.active:after {
	content: "\2212"
}
.content {
	border: 1px darkgrey solid;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1
}

#exportClose {
	position: absolute;
	top:0px;
	right: 0px;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;

}
